attrs==22.2.0
catkin-pkg==0.5.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
colcon-cmake==0.2.27
colcon-common-extensions==0.3.0
colcon-core==0.12.1
colcon-defaults==0.2.8
colcon-devtools==0.2.3
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.15
colcon-output==0.2.13
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.7
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.23
colcon-test-result==0.3.8
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.0.7
coverage==7.2.2
cryptography==39.0.2
cycler==0.11.0
distlib==0.3.6
docutils==0.19
empy==3.3.4
exceptiongroup==1.1.1
fonttools==4.39.0
humanfriendly==10.0
idna==3.4
ifcfg==0.23
iniconfig==2.0.0
keyboard==0.13.5
kiwisolver==1.4.4
lark-parser==0.12.0
lxml==4.9.2
matplotlib==3.7.1
mock==5.0.1
mysql-connector==2.2.9
mysql-connector-python==8.0.32
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pluggy==1.0.0
protobuf==3.20.3
psutil==5.9.4
pycparser==2.21
pygame==2.3.0
PyMySQL==1.0.2
pynput==1.7.6
pyparsing==3.0.9
pyreadline3==3.4.1
pytest==7.2.2
pytest-cov==4.0.0
pytest-mock==3.10.0
pytest-repeat==0.9.1
pytest-rerunfailures==11.1.2
python-dateutil==2.8.2
pytz==2022.7.1
pywin32==305
PyYAML==6.0
requests==2.28.2
six==1.16.0
tomli==2.0.1
urllib3==1.26.14
vcstool==0.3.0
